.navbar {
    background-color: grey;
    color: white;
}

.navbar-nav {
    /* padding-left: 800px; */
    float: right;
}

.navbar-header {
    padding-top: 8px;
}

.navbar-brand {
    font-size: 25px;
}