<nav class="navbar ">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">Books</span>
        </div>

        <div class="NavBar">
            <a mat-button [routerLink]="'categories'">Categories</a>
        </div>

        <ul class="navbar-nav">

            <a mat-button [routerLink]="'login'">Login</a>
            <a mat-button [routerLink]="'mycart'">Cart</a>
            <a mat-button [routerLink]="'contactus'">Contact Us</a>
            <a mat-button [routerLink]="'logout'">Logout</a>
            <a mat-button [routerLink]="'profile'">Profile</a>

        </ul>

    </div>
</nav>